@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ViewBag.Title = "生活服务";
}

<div>
    <div class="header">
        @Html.Action("HomeHeader", "Header", new { pageName = "BlueVIP" })
    </div>
    <div class="n_all_cont">

        <div class="n_left_cont">
            <div class="center logon" style="width: 286px; height: auto; margin-top: 0;">
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        @Html.Action("HomeLogonSuccess", "Account")
                    }
                    else
                    {
                        @Html.Action("HomeLogon", "Account")
                    }
                }
            </div>
            <div class="homereserve">
                @Html.Action("ReserveRegion", "Home")
            </div>
            <div class="homeShortcut">
                @Html.Action("ShortcutRegion", "Home")
            </div>
            <div class="homeproduct">
                @Html.Action("HotExchangeProductList", "Product")
            </div>
            <div class="homehotnews">
                @Html.Action("HotNewsRegion", "home")
            </div>
        </div>
        <!--新增-->
        <style>
            .gy_cont, .gy_list {
                margin-top: 0;
            }

            .news .gy_nr2 dd h3, .gy_list_box dd h3 {
                font-size: 16px;
                font-weight: 600;
                padding-top: 15px;
            }

            .gy_list_box dd p {
                height: 63px;
                overflow: hidden;
            }

            clearfix_tit:after {
                display: block;
                content: "";
                clear: both;
            }

            .gy_list_tit {
                width: 695px;
                height: 56px;
                background-color: #eeeeee;
            }

                .gy_list_tit li {
                    list-style: none;
                    width: 233px;
                    height: 54px;
                    float: left;
                    font-size: 18px;
                    color: #3d3f43;
                    font-weight: 600;
                    /*   border-bottom: 2px solid #075090;*/
                    cursor: pointer;
                }

                    .gy_list_tit li i, .gy_list_tit li p {
                        float: left;
                        height: 100%;
                    }

                    .gy_list_tit li p {
                        line-height: 22px;
                    }

                    .gy_list_tit li div {
                        width: 132px;
                        height: 22px;
                        margin-left: 62px;
                        margin-top: 16px;
                    }

            .touring_hotel i {
                width: 23px;
                height: 21px;
                background-image: url(/img/VipImg/touring_hotel.png);
                display: block;
                margin-right: 10px;
            }

            .entertainment i {
                width: 25px;
                height: 21px;
                background-image: url(/img/VipImg/entertainment.png);
                display: block;
                margin-right: 10px;
            }

            .education_training i {
                width: 10px;
                height: 21px;
                background-image: url(/img/VipImg/education_training.png);
                display: block;
                margin-right: 10px;
            }

            /*之前的样式*/
            /*.gy_list_tit .tit_active {
                border-left: 2px solid #075090;
                border-right: 2px solid #075090;
                border-top: 2px solid #075090;
                border-bottom: none;
            }*/
            /*新改的样式*/
            .gy_list_tit .tit_active {
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                border-top: 1px solid #eee;
                border-bottom: none;
                background: #fff;
            }


            .gy_list_box dd p {
                margin-top: 20px;
            }

            .gy_list_box dt a {
                display: block;
                width: 100%;
                height: 100%;
            }

                .gy_list_box dt a img {
                    width: 100%;
                    height: 100%;
                }
        </style>
        <script>

	$(document).ready(function(){
		var abtn = $('.gy_list_tit li');
		var list_box = $('.gy_list_box');
		abtn.mouseover(function(){
			abtn.removeClass('tit_active');
			$(this).addClass('tit_active');
			list_box.hide();
			list_box.eq($(this).index()).show();
		})
	})

        </script>

        <div class="n_right_cont">
            <p class="select_menu" style="font-family:&#39;Microsoft YaHei&#39;"><a href="/BlueVIP/Index">蓝缤权益</a> &gt; <a href="/LifeService/Index">生活服务  </a>&gt;网票网电子影票</p>
            <div class="gy_cont">
                <div class="gy_title">
                    <div class="gy_zi" style="font-family:&#39;微软雅黑&#39;;">
                        <h1>
                            网票网电子影票
                        </h1>
                        <span>Electronic Movie Tickets of Wang Piao Net</span>
                    </div>
                </div>

                <div class="gy_list_box">
                    <style>
                        .xbkTitle {
                            color: #00684d;
                            font-size: 16px;
                            font-weight: bold;
                            overflow: hidden;
                            margin: 15px 0;
                            height: 50px;
                            line-height: 50px;
                        }

                            .xbkTitle i {
                                float: left;
                                margin-right: 18px;
                                vertical-align: middle;
                            }

                        .pXbk {
                            line-height: 26px;
                            font-size: 14px;
                            text-indent: 2em;
                            margin-bottom: 20px;
                            font-family: '微软雅黑';
                        }

                        .gy_list_box {
                            padding: 0 20px;
                        }

                        .grayXbk {
                            background: #f2f2f3;
                            margin-bottom: 20px;
                            padding-bottom: 10px;
                        }

                        .centerP {
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        .grayXbk h3 {
                            text-align: center;
                            color: #00684d;
                            font-weight: bold;
                            padding: 22px 0;
                        }

                        a.btnXbkBg {
                            display: block;
                            width: 142px;
                            font-size: 16px;
                            height: 33px;
                            margin: 40px auto;
                            background: url(/Img/VipImg/btnXbkBg.png) no-repeat;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                        }

                        .grayWPW {
                            background: #f2f2f3;
                            margin-bottom: 20px;
                            padding-bottom: 40px;
                        }

                            .grayWPW .picWPW {
                                margin: 30px 61px 28px 61px;
                                width:545px;
                            }

                        .movieWPW h2 {
                            text-align: center;
                            font-size: 14px;
                            font-family: 微软雅黑;
                            color: #0763b7;
                            font-weight: 800;
                        }

                        .movieWPW_info {
                            font-size: 14px;
                            font-family: 微软雅黑;
                            color: #333333;
                            margin-left: 100px;
                            margin-top: 8px;
                            margin-bottom: 22px;
                        }

                        .movieWPW_info {
                            line-height: 28px;
                        }

                        .movieWPW h3 {
                            width: 546px;
                            height: 70px;
                            border-top: 1px dashed #d3d3d4;
                            text-align: center;
                            line-height: 70px;
                            margin-left: 50px;
                            color: #0763b7;
                            font-weight: 800;
                        }

                        .FlowChart_WPW {
                            margin-left: 30px;
                        }

                       
                        /*a.btnWPWBg {
                            display: block;
                            width: 142px;
                            font-size: 16px;
                            height: 33px;
                            margin: 40px auto;
                            background: url(/Img/btnWPWBg1.png) no-repeat;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                        }*/
                        a.btnWPWBg{ display:block; width:142px; font-size:16px; height:33px; margin:40px auto; background:#004587; line-height:30px; text-align:center; color:#fff; }
                a.btnWPWBg:hover{ background: #0b63b7; }
                    </style>
                    <p class="xbkTitle">
                        <i><img src="/Img/tit_logoMov.png"></i>
                        <i style="font-family:&#39;微软雅黑&#39;;color:#0763b7;">网票网电子影票</i>
                    </p>
                    <div class="grayWPW">
                        <img src="/Img/picWPW160923.png" alt="网票网电子影票" class="picWPW">
                        <div class="movieWPW">
                            <h2>电子影票兑换及使用流程</h2>
                            <div class="movieWPW_info">
                                <p>1、登录bluemembers蓝缤网站、微信、APP，进入积分商城</p>
                                <p>2、消减会员积分兑换“网票网电子影票”</p>
                                <p>3、输入接收人手机号码，短信接收影票“电子码”</p>
                                <p>4、登录“网票网”网站或APP</p>
                                <p>5、选择“活动码入口”，输入影票“电子码”</p>
                                <p>6、在线选择影片、影院、座位，确认购票信息并支付</p>
                                <p>7、短信收取影票“验票码</p>
                                <p>8、影城自助机/前台验码打印电影票，凭票入场观影</p>
                            </div>
                            <h3>流程图</h3>
                            <img src="/Img/FlowChart_WPW.png" alt="使用流程" class="FlowChart_WPW">
                            <a href="https://www.bluemembers.com.cn/Product/ProductDetail?productId=516" id="OrderService" class="btnWPWBg">立即兑换</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


</div>
<div class="footer">
    @Html.Action("Index", "Footer")
</div>
</div>
