@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ViewBag.Title = "预约试驾服务";
}
<script src="~/Content/laydate/laydate.js"></script>
<div>
    <div class="header">
        @Html.Action("HomeHeader", "Header", new { pageName = "BlueVIP" })
    </div>
    <div class="n_all_cont" style="height:1200px;">
        <div class="n_left_cont">
            <div class="center logon" style=" width: 286px; height: auto; margin-top:0;">
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        @Html.Action("HomeLogonSuccess", "Account")
                    }
                    else
                    {
                        @Html.Action("HomeLogon", "Account")
                    }
                }
            </div>
            <div class="homereserve">
                @Html.Action("ReserveRegion", "Home")
            </div>
            <div class="homeShortcut">
                @Html.Action("ShortcutRegion", "Home")
            </div>
            <div class="homeproduct">
                @Html.Action("HotExchangeProductList", "Product")
            </div>
            <div class="homehotnews">
                @Html.Action("HotNewsRegion", "home")
            </div>

        </div>
        <div class="n_right_cont">
            <div class="gy_cont" style="margin-top:0;">
                <div class="gy_title">
                    <div class="gy_zi">
                        <h1>预约试驾</h1>
                        <span>Trial Reservation Service</span>
                    </div>
                </div>
                <div class="gy_nr" style="overflow:hidden">
                    <div class="home_cont" style="margin-bottom:20px;">
                        <p style="margin: 20px 10px 10px 10px; width:auto;">为了确保我们能够在第一时间内与您取得联系，提供更快捷、更周到的服务，请您正确填写以下资料信息，带"*"号的是必须填写项，感谢您的支持！</p>
                        <hr />
                        <p>
                            <span>*</span><label>车型：</label>
                            @Html.Action("CarTypeView", "Car", new { })
                        </p>
                        <p>
                            <span>*</span><label>选择经销商：</label>
                            @Html.Action("ProvinceCity", "Car", new { Istestserver =1})
                        </p>
                        
                        <p>
                            <span>*</span><label>试驾日期：</label>
                            <input class="input_duan laydate-icon" type="text" id="homeReserveDriveDriveTime" name="homeReserveDriveDriveTime" placeholder="请选择" />
                            <script>
                                $(function () {
                                    laydate({
                                        elem: '#homeReserveDriveDriveTime',
                                        //min: laydate.now(+2), //-1代表昨天，-2代表前天，以此类推
                                        min: laydate.now(+1), //wrl修改
                                        max: laydate.now(+60),
                                        istoday: false
                                    });
                                });
                            </script>
                                                        <b style="margin-left:0;float:none">
           尊敬的车主您好，预约试驾有效期为提交预约后的<br />60天。感谢您的理解与支持，祝您用车愉快！
        </b>
                        </p>
                        <p>
                            <span></span><label>计划购车时间：</label>
                            <select id="homeReserveDriveBuyTime" name="homeReserveDriveBuyTime">
                                <option>一周以内</option>
                                <option>7-30天</option>
                                <option>1-3个月</option>
                                <option>3个月以上</option>
                            </select>
                        </p>
                        <p>
                            <span>*</span><label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
                            <input class="input_duan" type="text" id="homeReserveDriveUserName" name="homeReserveDriveUserName" />
                        </p>
                        <p>
                            <span></span><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
                            <input type="radio" name="homeReserveDriveGender" value="1" id="genderMan" checked="checked" class="radio_btn_cc" style=" border: none;" /><b>男</b>
                            <input type="radio" name="homeReserveDriveGender" value="0" id="genderWoman" class="radio_btn_cc" style="margin-left:38px; border: none;" /><b>女</b>
                        </p>

                        <p>
                            <span>*</span><label>手&nbsp;&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;号：</label>
                            <input class="input_duan" type="text" id="homeReserveDriveUserMobile" name="homeReserveDriveUserMobile" />
                        </p>
                       
                        <p style="margin-left:200px;">
                            <a id="btnHomeReserveDrive" href="javascript:void(0);" style="display:block; width: 230px; height:32px; line-height:32px; text-align:center; cursor:pointer; background-color:#075090; margin:0; color:#FFF;">
                                提<b style="margin: 0 6px;"></b>交
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    @Html.Action("Index", "Footer")
</div>