@model Vcyber.BLMS.FrontWeb.Models.QuestionnaireModel
<!--移动端问卷调查样式文件-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>问卷调查</title>
    <link href="~/css/base/common.css" rel="stylesheet" />
    <link href="~/css/base/wapquestionnaire.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layer/layer.min.js"></script>
    <script src="~/Scripts/controller/Main.js"></script>
    <script src="~/Scripts/controller/UserController.js"></script>
    <script src="~/Scripts/controller/WapQuestionnaireController.js"></script>
    @*处理活动特殊监测*@
    <script type="text/javascript">
        $(document).ready(function () {
            var _curLinkFrom = $(".WapQuestionnaire #inputLinkFrom").val();
            //检测问卷状态
            WapQuestionnaire.CheckQuestionnaireState(_curLinkFrom);
        });
        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();

            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

        var Request = new Object();
        Request = GetRequest();
    </script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0b4e366e453f3524b50e08dc17833d51";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        var sourceId;
        sourceId = Request['source'];

        if (sourceId == 'blms_web')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', 'APP', 3]);
        else if (sourceId == 'blms')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', '网站', 3]);
        else if (sourceId == 'blms_wechat')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', '微信', 3]);
        else if (sourceId == 'blms_sms')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', '短信', 3]);
        else if (sourceId == 'blms_weibo')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', '微博', 3]);
        else if (sourceId == 'blms_edm')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', 'EDM', 3]);
        else if (sourceId == 'blms_wap')
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', 'WAP', 3]);
        else
            _hmt.push(['_setCustomVar', 2, 'ques_visitor', '未定义', 3]);
    </script>
    <script type="text/javascript">
        var isRetSave = false;
        $(function () {
            $("div[data-tag='myddc']").mouseenter(function () {
                //isRetSave = false;
                //$(this).addClass("bg").prevAll().addClass("bg");
                //$(this).nextAll().removeClass("bg");
                //var soure = $(this).prevAll().length + 1;
                //$("#resutVal").val(soure);
            })
            $("div[data-tag='myddc']").mouseleave(function () {
                //if (!isRetSave) {
                //    //$("td[data-tag='myddc']").removeClass("bg");
                //    //$("#inputScore").val("");
                //    $(this).nextAll().removeClass("bg");
                //}
            })
            $("div[data-tag='myddc']").click(function () {
                var qidTag = $(this).attr("data-qid");
                var soureVal = $(this).text().trim();
                $(this).addClass("bg").prevAll().addClass("bg");
                $(this).nextAll().removeClass("bg");
                $("input[name='myddcVal'][data-qid='" + qidTag + "'][type='hidden']").val(soureVal);
                isRetSave = true;
            })
        })
    </script>
    <style type="text/css">
        .bg {
            color: white;
            background: #014488;
        }
    </style>
</head>
<body>

    <div class="WapQuestionnaire">
        @*@if (string.IsNullOrEmpty(Model.QuestionnaireImage))
            {
                <input type="image" src="/Img/default_banner.png" alt="标题图片" style="display: block; margin: auto; float: none; outline: none;width:100%; " />
            }
            else
            {
                <input type="image" src="@Model.QuestionnaireImage" alt="标题图片" style="display: block; margin: auto; float: none; outline: none; width: 100%;" />
            }*@
        @if (!string.IsNullOrEmpty(Model.QuestionnaireImage))
        {
            <input type="image" src="@Model.QuestionnaireImage" alt="标题图片" style="display: block; margin: auto; float: none; outline: none; width: 100%;" />
        }
        @if (this.User.Identity.IsAuthenticated)
        {
            <div style="height: 39px; background-image: url('/Img/bg_resulttitle.png'); background-repeat: repeat-x;">
                <p style="line-height: 30px; color: #F49600; font-size: 15px; margin-left: 20px; vertical-align: middle;">
                    亲爱的bluemembers会员 <span id="spanNickName" style="color: #075090;">@ViewBag.curUserNickName</span> ,您好！
                </p>
            </div>
        }
        else
        {
            <div style="height: 39px; background-image: url('/Img/bg_resulttitle.png'); background-repeat: repeat-x;">
                <input type="button" id="inputIndexAccountLogin" style="margin-left:30px;" class="resultInputButton" value="登录" />
                <input type="button" id="inputIndexAccountRegister" class="resultInputButton" value="注册" />
            </div>
        }

        @*<p class="QuestionnaireTheme">
                @Model.QuestionnaireTheme
            </p>
            <p class="QuestionnaireAltTheme">@Model.QuestionnaireAlteTheme</p>*@

        <input type="hidden" id="inputUserID" value="@ViewBag.curUserId" />
        <input type="hidden" id="inputUserName" value="@ViewBag.curUserName" />
        <input type="hidden" id="inputUserNickName" value="@ViewBag.curUserNickName" />
        <input type="hidden" id="questionnaireBlueBeanCount" value="@Model.BlueBeanCount" />
        <input type="hidden" id="inputLinkFrom" value="@ViewBag.curLinkFrom" />
        <input type="hidden" id="inputUserEmail" value="@ViewBag.curUserEmail" />
        <input type="hidden" id="inputLinkSource" value="@ViewBag.curLinkSource" />

        @*<p class="title">尊敬的车主朋友:</p>*@
        <div style="margin:20px 10px 10px 10px;text-align:justify;text-justify:inter-ideograph;">@Html.Raw(Model.QuestionnaireRemark)</div>
        <div id="divLine"></div>
        <div class="divContent">
            <input type="hidden" id="input_hidden_QuestionnaireId" value="@Model.QuestionnaireId" />
            @*<p class="title">尊敬的车主朋友：</p>
                <p class="title">您好，为了给您提供更好的服务，特别举办一次调查研究。您的意见对我们的进步和改善非常重要，希望您能花一分钟帮助我们完成以下的问卷，成功提交问卷会有好礼答谢。谢谢您的合作！</p>*@
            <table style="width: 100%; font-size: 14px;">
                @if (Model != null && Model.listQuestion != null && Model.listQuestion.Any())
                {
                    int tempIndex = 1;
                    foreach (var question in Model.listQuestion.OrderBy(f => f.QuestionSort))
                    {
                        var tempTitle = tempIndex + "、" + question.QuestionTitle;
                        <tr>
                            <th>
                                <p style="line-height: 20px;color:#0057a5; " data-qid="@question.QuestionId" data-type="@question.QuestionType" data-required="@question.IsRequired">
                                    @*<span style="float: left; display: block; line-height: 20px;">@tempIndex</span>
                                        <span style="float: left; display: block; line-height: 20px;">.</span>*@
                                    <span style="line-height: 20px;">@tempTitle</span>
                                    @if (question.IsRequired)
                                    {
                                        <b style="color: #FF0000; width: 1em;  text-align: center;  line-height: 20px;">*</b>
                                    }
                                    else
                                    {
                                        <b style="color: #FF0000; width: 1em;  line-height: 20px; ">&nbsp;</b>
                                    }
                                    @*<span style="text-align: left; display: block; float: left; vertical-align: middle; line-height: 20px; ">@question.QuestionTitle</span>*@
                                    @if (question.QuestionType == 10)
                                    {
                                        <input type="text" style="width:100%;border:none;height:30px; border-bottom:1px solid gray;background:transparent;margin-bottom:15px;padding-left:20px; outline:none;" data-qid="@question.QuestionId" data-qtype="single_fill" />
                                    }
                                </p>
                            </th>
                        </tr>
                                    tempIndex++;
                                    switch (question.QuestionType)
                                    {

                                        case 0:            //单选
                                            {
                                                foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                {
                                                    if (option.OType == 1)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label for="@option.Id" style="margin-left:20px">
                                                                    @option.OContent
                                                                    <input type="text" data-qid="@question.QuestionId" data-for="@option.Id" data-qtype="after_fill" style="width:200px;border:none;border-bottom:1px solid gray;background-color:transparent;padding-left:10px;outline:none;" />
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else if (option.OType == 4)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="radio" value="@option.Id" id="@option.Id" style=" float: left; outline: none; width: 40px; margin-left: 20px;" name="@question.QuestionId" data-type="@option.OType" />
                                                                <label for="@option.Id" style="font-weight:normal;">
                                                                    @option.OContent
                                                                </label>
                                                                <input type="text" data-qid="@question.QuestionId" data-for="@option.Id" data-qtype="after_fill" style="width: 200px; border: none; border-bottom: 1px solid gray; background-color: transparent; padding-left: 10px; outline: none;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label for="@option.Id">
                                                                    <input type="radio" value="@option.Id" id="@option.Id" style=" float: left; outline: none; width: 40px; margin-left: 20px;" name="@question.QuestionId" data-type="@option.OType" />
                                                                    @option.OContent
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    }
                                                }


                                                break;
                                            }
                                        case 1:             //复选
                                            {

                                                foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                {
                                                    if (option.OType == 1)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label style="margin-left: 20px;">
                                                                    @option.OContent
                                                                </label>
                                                                <input type="text" data-qid="@question.QuestionId" data-for="@option.Id" style="width: 200px; border: none; border-bottom: 1px solid gray; background-color: transparent; padding-left: 10px; outline: none;" data-qtype="after_fill" />
                                                            </td>
                                                        </tr>
                                                    }
                                                    else if (option.OType == 4)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" style=" float: left; outline: none; width: 40px; margin-left: 20px;" value="@option.Id" name="@question.QuestionId" data-type="@option.OType" id="@option.Id" />
                                                                <label for="@option.Id">
                                                                    @option.OContent
                                                                </label>
                                                                <input type="text" data-qid="@question.QuestionId" data-for="@option.Id" data-qtype="after_fill" style="width: 200px; border: none; border-bottom: 1px solid gray; background-color: transparent; padding-left: 10px; outline: none;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <input type="checkbox" style=" float: left; outline: none; width: 40px; margin-left: 20px;" value="@option.Id" name="@question.QuestionId" data-type="@option.OType" />@option.OContent
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                                break;
                                            }
                                        case 2:              //判断
                                            {
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <input type="radio" style="width:40px;outline:none;" value="true" name="@question.QuestionId" />是
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <input type="radio" style="width: 40px; outline: none;" value="false" name="@question.QuestionId" />不是
                                                        </label>
                                                    </td>
                                                </tr>
                                                break;
                                            }
                                        case 3:              //留言
                                            {
                                                string tempName = "txtUserSuggest" + question.QuestionId;
                                                <tr>
                                                    <th>
                                                        <textarea name="userSuggest" data-qid="@question.QuestionId" placeholder="在此处编辑您的宝贵意见..."></textarea>
                                                    </th>
                                                </tr>
                                                break;
                                            }
                                        case 4:              //矩阵单选
                                            {

                                                foreach (var childQ in question.ListChildQurstion.OrderBy(q => q.QuestionSort))
                                                {
                                                    <tr>
                                                        <td>
                                                            <label data-qid="@question.QuestionId" data-tag="@childQ.QuestionId" style="font-weight: bold;margin-left:20px;">
                                                                @childQ.QuestionTitle
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <input type="radio" value="@option.Id" style="width: 40px; margin-left: 20px; outline: none;" name="@childQ.QuestionId" />@option.OContent
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    }

                                                }

                                                break;
                                            }
                                        case 5:              //矩阵多选
                                            {
                                                foreach (var childQ in question.ListChildQurstion.OrderBy(q => q.QuestionSort))
                                                {
                                                    <tr>
                                                        <td>
                                                            <label data-qid="@question.QuestionId" data-tag="@childQ.QuestionId" style="font-weight: bold; margin-left: 20px; ">
                                                                @childQ.QuestionTitle
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <input type="checkbox" value="@option.Id" style="width: 40px; margin-left:20px; outline: none;" name="@childQ.QuestionId" />@option.OContent
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                break;
                                            }
                                        case 7:              //满意度调查
                                            {
                                                <tr>
                                                    <td style="padding-left:20px;">
                                                        @foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                        {
                                                            if (option.OType != 1)
                                                            {
                                                                <div id="@option.Id" data-qid="@question.QuestionId" style="min-width: 50px; vertical-align: middle; border: 1px solid lightgray; text-align: center; cursor: pointer; float: left; height: 30px; line-height: 28px;" data-tag="myddc">
                                                                    @option.OContent
                                                                </div>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr style="height:0;display:none;">
                                                    <th style="width:0;display:none;"><input type="hidden" data-qid="@question.QuestionId" name="myddcVal" value="" /></th>
                                                </tr>
                                                if (question.ListOption.Where(f => f.OType == 1).Count() > 0)
                                                {
                                                    var optionModel = question.ListOption.Where(f => f.OType == 1);
                                                    foreach (var optionMol in optionModel)
                                                    {
                                                        <tr>
                                                            <td colspan="@question.ListOption.Count">
                                                                <span style="color:#666666;margin-left:20px;">@optionMol.OContent</span>
                                                                <input type="text" data-type="reason" data-qid="@question.QuestionId" data-for="@optionMol.Id"
                                                                       style="border: none; border-bottom: 1px solid gray; padding-left: 10px; background-color: transparent;width:250px;outline:none;margin:15px auto;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                break;
                                            }
                                        case 8:              //多项填空题 循环
                                            {
                                                for (int i = 1; i <= question.QuestionCycle; i++)
                                                {
                                                    @*<tr>
                                                            <td style="color: #666666; padding-left: 20px; ">
                                                                <span style="font-weight:bold"><span>第</span>@i<span>项</span></span>
                                                            </td>
                                                        </tr>*@
                                                    foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                    {
                                                        var tag = i + "." + option.OContent;
                                                        //普通题目
                                                        if (option.OType == 1)
                                                        {
                                                            <tr>
                                                                <td style="color: #666666; padding-left: 20px; ">
                                                                    @if (question.QuestionTextIsBefore)
                                                                    {
                                                                        <span>@option.OContent</span>
                                                                        <input type="text" data-qid="@question.QuestionId" data-order="@tag" style="height: 25px; border: none; border-bottom: 1px solid gray; margin: 10px 0; width: 200px; background-color: transparent; padding-left: 10px; outline: none;" data-qtype="fill" data-valuetype="@option.OValueType" @if (i == 1) { <text> data-first="true" </text>   } />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" data-qid="@question.QuestionId" data-order="@tag" style="height: 25px; border: none; border-bottom: 1px solid gray; margin: 10px 0; width: 200px; background-color: transparent; padding-left: 10px; outline: none; " data-qtype="fill" data-valuetype="@option.OValueType" @if (i == 1) { <text> data-first="true" </text>    } /><span>@option.OContent</span>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            var optionlist = Vcyber.BLMS.Application._AppContext.OptionApp.GetOptionsByQIdAndOType(option.Id, 3).FirstOrDefault().OContent.Split('|');
                                                            <tr>
                                                                <td>
                                                                    @if (question.QuestionTextIsBefore)
                                                                    {
                                                                        <span style="float: left; display: block; height: 30px; line-height: 30px;margin:5px 0">@option.OContent</span>
                                                                        <select style="height: 30px; border: 1px solid gray; margin: 5px 20px; text-align: center; color: gray; width: 80%; float: left;" data-qid="@question.QuestionId" data-order="@tag">
                                                                            <option value="-1" style="color:gray;">请选择</option>
                                                                            @if (optionlist != null || optionlist.Length > 0)
                                                                            {
                                                                                foreach (var item in optionlist)
                                                                                {
                                                                                    <option value="@item" data-qid="@question.QuestionId" data-order="@tag">@item</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select style="height: 30px; border: 1px solid gray; margin: 5px 20px; text-align: center; color: gray; width: 80%; float: left; " data-qid="@question.QuestionId" data-order="@tag">
                                                                            <option value="-1" style="color:gray;">请选择</option>
                                                                            @if (optionlist != null || optionlist.Length > 0)
                                                                            {
                                                                                foreach (var item in optionlist)
                                                                                {
                                                                                    <option value="@item" data-qid="@question.QuestionId" data-order="@tag">@item</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <span style="float: left; display: block; height: 30px; line-height: 30px; margin: 5px 0; ">@option.OContent</span>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                                break;
                                            }
                                        case 9:              //排序题
                                            {
                                                int optionCount = question.ListOption.Count;
                                                foreach (var option in question.ListOption.OrderBy(f => f.Sort))
                                                {
                                                    <tr>
                                                        <td style="color: #666666;">
                                                            <input type="number" data-tag="@option.Id" data-qid="@question.QuestionId" style="border: 1px solid lightgray; width: 80px; margin-right: 20px; height: 30px; line-height: 30px; margin-left: 20px;text-align:center" data-qtype="order"
                                                                   min="1" value="1" max="@optionCount" />
                                                            @option.OContent
                                                        </td>
                                                    </tr>
                                                }
                                                break;
                                            }
                                    }
                    }
                }
                else
                {
                    <tr style="height:45px;">
                        <td>
                            <div style="margin:auto;float:left;">不存在任何问卷内容！</div>
                        </td>
                    </tr>
                }
            </table>

        </div>
        @if (ViewBag.curLinkFrom != 1)
        {
            <div style="float:none;">
                @Html.Action("PasserbyInfo", "WapQuestionnaire")
            </div>
        }
        <input type="button" id="btnQuestionnaireSubmit" value="提交问卷" />
    </div>
</body>
</html>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>

