@model List<Vcyber.BLMS.Entity.QuestionnaireWinning>
<!--移动端问卷调查样式文件-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
        }
        }
            catch(e){
            top.location.href = window.location.href;
        }
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="user-scalable=no, width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <title>问卷调查</title>
    <link href="~/css/base/common.css" rel="stylesheet" />
    <link href="~/css/base/wapquestionnaire.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/controller/Main.js"></script>
    <script src="~/Scripts/controller/UserController.js"></script>
    <script src="~/Scripts/controller/WapQuestionnaireController.js"></script>
</head>
<body>
    <div class="WapQuestionnaire" style="padding-bottom:20px;">
        @{
            var quesInfo = ViewData["questionnaire"] as Vcyber.BLMS.Entity.Questionnaire;
            @*if (string.IsNullOrEmpty(quesInfo.Image))
                {
                    <input type="image" src="/Img/default_banner.png" alt="标题图片" style="display: block; margin: auto; float: none; outline: none;width:100%; " />
                }
                else
                {
                    string imgPath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImgPath"];
                    <input type="image" src="@string.Format(imgPath+"{0}",quesInfo.Image)" alt="标题图片" style="display: block; margin: auto; float: none; outline: none; width: 100%;" />
                }*@
            if (!string.IsNullOrEmpty(quesInfo.Image))
            {
                string imgPath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImgPath"];
                <input type="image" src="@string.Format(imgPath+"{0}",quesInfo.Image)" style="display: block; margin: auto; float: none; margin-top: 15px;" />
            }
            if (this.User.Identity.IsAuthenticated)
            {
                var userinfo = ViewData["userinfo"] as Vcyber.BLMS.FrontWeb.Models.ApplicationUser;
                <div style="height: 39px; background-image: url('/Img/bg_resulttitle.png'); background-repeat: repeat-x;">
                    <p style="line-height: 30px; color: #F49600; font-size: 15px; margin-left: 20px; vertical-align: middle;">
                        亲爱的bluemembers会员 <span id="spanNickName" style="color: #075090;">@userinfo.NickName</span> ,您好！
                    </p>
                </div>
            }
            else
            {
                <div style="height: 39px; background-image: url('/Img/bg_resulttitle.png'); background-repeat: repeat-x;">
                    <input type="button" id="inputAccountLogin" style="margin-left:30px;" class="resultInputButton" value="登录" onclick="WapQuestionnaire.ResultLoginCallBack()" />
                    <input type="button" id="inputAccountRegister" class="resultInputButton" value="注册" onclick="WapQuestionnaire.ResultRegisterCallBack()" />
                </div>
            }
            var LbRemarks = System.Web.HttpUtility.UrlDecode(quesInfo.Remarks);
            <div style="margin:20px 10px 10px 10px;text-align:justify;text-justify:inter-ideograph;">@Html.Raw(LbRemarks)</div>
            <div id="divLine"></div>
            <div class="divContent">
                <div style="margin-top: 2px;">
                    <p class="QuestionnaireTheme"> 问卷调查获奖名单 </p>
                    <p class="QuestionnaireAltTheme">@quesInfo.Theme</p>
                    <br />
                    <table style="width: 96%;margin:auto;">
                        <tr style="color: #014488; font-weight: bold; height: 35px;">
                            <th style=" vertical-align: middle; text-align: center; ">姓名</th>
                            <th style=" vertical-align: middle; text-align: center; ">奖品</th>
                            <th style=" vertical-align: middle; text-align: center; ">电话号码</th>
                        </tr>
                        <tr style="height:10px;">
                            <td colspan="3">
                                <div style="width: 100%; border-bottom: 1px solid #014488;"></div>
                            </td>
                        </tr>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var mode in Model)
                            {
                                <tr style="height:35px; text-align:center;color:#666666;">
                                    <td style=" vertical-align: middle;">@mode.WName</td>
                                    <td style=" vertical-align: middle;">@mode.Prize</td>
                                    <td style=" vertical-align: middle;">@mode.WPhoneNumber</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        }

    </div>
</body>
</html>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>
