@using WebGrease
@model System.Linq.IQueryable<Vcyber.BLMS.FrontWeb.Models.BBS.BBSGuestBook>
@{
    Layout = null;
}

<head>
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        try{
                top.location.hostname;
                if (top.location.hostname != window.location.hostname) {
                top.location.href =window.location.href;
            }
            }
                catch(e){
                top.location.href = window.location.href;
            }
    </script>
</head>

<script>
    if (self == top) {
        var theBody = document.getElementsByTagName('body')[0];
        theBody.style.display = "block";
    } else {
        top.location = self.location;
    }
</script>

@foreach (var item in Model)
{

    <tr>
        <td style="width: 12px;"></td>
        <td class="col_b bor havel" width="5%">
            @if (item.G_isTop)
            {
                <img src="../../img/zhiding.png">
            }
        </td>
        <td class="bor">
            <p class="big_zi">@Html.ActionLink(item.G_Title, "Comment", "BBSHome", new { id = item.Id }, new { }) </p>
            @{
    var ctt = item.G_Content.Length > 20 ? item.G_Content.Substring(0, 20) + "..." : item.G_Content;
            }

            <p>@ctt</p>
        </td>
        <td class="bor cent">
            <p>@item.BBSMember.UserName </p>
            <p>@(((DateTime)item.G_Time).ToString("yyyy-MM-dd HH:mm"))</p>
        </td>
        <td class="bor havel cent">@item.G_ReadCount / @item.G_ResponseCount</td>
        <td class="bor cent">
            <p>@item.LastUpdateMemberName</p>
            <p>@item.LastUpdateTime.ToString("yyyy-MM-dd HH:mm")</p>
        </td>
        <td style="width: 12px;"></td>
    </tr>
}