@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ViewBag.Title = "第九代索纳塔会员专区";
}

<div>
    <div class="header">
        @Html.Action("HomeHeader", "Header", new { pageName = "Sonata" })
    </div>
    <div class="n_all_cont">

        <div class="n_left_cont">
            <div class="center logon" style=" width: 286px; height: auto; margin-top:0;">
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        @Html.Action("HomeLogonSuccess", "Account")
                    }
                    else
                    {
                        @Html.Action("HomeLogon", "Account")
                    }
                }
            </div>
            <div class="homereserve">
                @Html.Action("ReserveRegion", "Home")
            </div>
            <div class="homeShortcut">
                @Html.Action("ShortcutRegion", "Home")
            </div>
            <div class="homeproduct">
                @Html.Action("HotExchangeProductList", "Product")
            </div>
            <div class="homehotnews">
                @Html.Action("HotNewsRegion", "home")
            </div>
        </div>
        <div class="n_right_cont">
            <div class="gy_cont" style="margin-top:0;">
                <div class="gy_title">
                    <div class="gy_zi">
                        <h1>生活服务</h1>
                        <span>Life Service</span>
                        <a href="/Live/Index"><img src="/img/arrow.png" class="arrow_n" /></a>
                    </div>
                </div>
                <div class="hot_Ac" style="margin-top:0px;height: 193px;">
                    <dl>
                        <dt style="width:300px"><a href="/Live/Index"><img src="/img/airptSmall_img.png" style="width: 296px;height: 174px;"></a></dt>
                        <dd>
                            <h3><a href="/Live/Index" style="font-size: 24px;font-family: '微软雅黑';font-weight: normal;display: inline;color: #3D3F43;">50个机场候机尊享服务</a></h3>
                            <p>北京现代为银卡会员提供全国29个省及直辖市，50家机场嘉宾休息室尊享候机服务.让您体验高端、便捷候机服务；茶点、书刊、音像免费提供，尊享优质舒适候机服务。</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="gy_list">
                <div class="gy_title">
                    <div class="gy_zi">
                        <h1>车辆服务</h1>
                        <span>Auto Service</span>
                        @*<img src="/img/arrow.png" class="arrow_n" />*@
                    </div>
                </div>
                <div class="gy_list_box">
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/FiveY10KM"><img src="/img/s91.png"></a></dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/FiveY10KM">
                                <h3>5年10万公里整车包修期</h3>
                            </a>
                            <p>自购车发票开具之日起北京现代为第九代索纳塔和全新途胜（非营运类车辆）提供5年或10万公里整车包修期，以先到者为准。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/OTwoOIndex"><img src="/img/s92.jpg"></a></dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/OTwoOIndex">
                                <h3>一对一专属服务</h3>
                            </a>
                            <p>专属服务顾问一对一为您提供专业、快捷、超值的售后服务。</p>
                        </dd>
                    </dl>···
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/GoHomeIndex"><img src="/img/s93.png"></a></dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/GoHomeIndex">
                                <h3>上门关怀服务</h3>
                            </a>
                            <p>贴心的上门关怀服务，解决您在用车方面的疑问和顾虑并对您的爱车进行专业检查。（服务半径为20km）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/ServiceToHome"><img src="/img/s95.jpg"></a>
                        </dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/ServiceToHome">
                                <h3>免费取送车服务</h3>
                            </a>
                            <p>专业人员为您免费提供车辆维修保养的取送车服务。（服务半径为20km）</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/FreeRoadRescue"><img src="/img/s96.png"></a></dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/FreeRoadRescue">
                                <h3>24小时免费道路救援服务</h3>
                            </a>
                            <p>
                                提供全天24小时，全年365天的免费道路救援服务。                                
                                24小时救援服务热线：400-0365-906
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/FreeMotIndex"><img src="/img/s94.png"></a>
                        </dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/FreeMotIndex">
                                <h3>3年9次免费检测服务</h3>
                            </a>
                            <p title="自购车之日起3年内，每年为您的爱车免费提供3次专项检测服务，确保您的安全出行。在任何时间，任何方式，找任何北京现代授权经销商都可以体验专项免费检测。">自购车之日起3年内，每年为您的爱车免费提供3次专项检测服务，确保您的安全出行。在任何时间，任何方式，找任何北京现代授权经销商都可以体验专项免费检测。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:300px;">
                            <a href="/Sonata/Travel"><img src="/img/tusheng_list.jpg"></a>
                        </dt>
                        <dd style="height:120px;">
                            <a href="/Sonata/Travel">
                                <h3>长途旅行关怀服务</h3>
                            </a>
                            <p >长途旅行（单程100km以上）前后可享受专项免费检测，排查车辆关键部件的异常故障，给您的长途旅行贴心保障</p>
                        </dd>
                    </dl>
                </div>

            </div>

            @Html.Action("HotProductsRegion", "Home")
        </div>


    </div>
    <div class="footer">
        @Html.Action("Index", "Footer")
    </div>
</div>


