@{ViewBag.Title = "报表管理";
Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-datepicker/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>

<div class="panel-default">

    <div class="panel-body">

        <div class="form-group">
            <label class="col-md-2 control-label text-right" style="padding-top:10px">活动报表类型：</label>
            <div class="col-md-3 text-left">
                <select class="form-control" id="reportType" onchange="InitSetting()">
                    <option value="[dbo].[BLMS_RegisterReport]">注册量统计表</option>
                    <option value="[dbo].[BLMS_JoinActivityReport]">活动参与量表</option>
                    <option value="[dbo].[BLMS_WinningInfoReport]">中奖情况统计表</option>
                    <option value="[dbo].[BLMS_CarOwnerTypeReport]">车主分类统计表</option>
                    <option value="[dbo].[BLMS_VIPWinningInfoReport]">中奖会员信息统计表</option>
                    <option value="[dbo].[BLMS_DealerRegisterReport]">经销商注册量统计表</option>
                    <option value="[dbo].[BLMS_TestDriveReport]">活动预约试驾统计表</option>
                    <option value="[dbo].[BLMS_RegisterCarOwnerTypeReport]">新注册车主分类统计表</option>
                </select>
            </div>
            <label class="col-md-2 control-label text-right" style="padding-top:10px">时间：</label>
            <div class="col-md-2 text-left">
                <input class="form-control datepicker" id="StartTime" autocomplete="off" data-date-format="yyyy-mm-dd">
            </div>
            <label class="col-md-1 control-label" style="padding-top:10px">--</label>
            <div class="col-md-2 text-left">
                <input class="form-control datepicker" autocomplete="off" id="EndTime" data-date-format="yyyy-mm-dd">
            </div>
            <script type="text/javascript">
                $('.datepicker').datepicker();
            </script>
        </div>

        <div class="form-group">
            <div class="col-md-6" style="padding-top:10px">
                <label class="col-md-4 control-label" style="padding-top:10px">活动编号：</label>
                <div class="col-md-8">
                    <select class="form-control" id="selectActivityId" required>
                        @Html.Action("ActivityIdOptions", "BMGameManage")
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" onclick="search()" style="margin-top:10px">查询</button>
                <button class="btn btn-primary" type="submit" onclick="toReportExcel()" style="margin-top:10px">导出</button>
            </div>

        </div>
        <div id="divPageList">
            @*@{
                    Html.RenderAction("PartialPage");
                }*@
        </div>


    </div>
</div>
<script>
    function InitSetting() {
        if ($("#reportType").val() == "[dbo].[BLMS_RegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_DealerRegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_RegisterCarOwnerTypeReport]") {
            $("#selectActivityId").attr("disabled", "disabled");
            $("#EndTime").removeAttr("disabled");
            $("#StartTime").removeAttr("disabled");
        }
        else if ($("#reportType").val() == "[dbo].[BLMS_TestDriveReport]") {
            $("#selectActivityId").attr("disabled", "disabled");
            $("#EndTime").attr("disabled", "disabled");
            $("#StartTime").attr("disabled", "disabled");
        }

        else {
            $("#StartTime").attr("disabled", "disabled");
            $("#EndTime").attr("disabled", "disabled");
            $("#selectActivityId").removeAttr("disabled");
        }
    }
    $(function () {
        search();
        InitSetting();
        var date = new Date();
        var date1 = new Date(new Date() - 24 * 60 * 60 * 1000);
        var startDate = date1.getFullYear() + "-" + (date1.getMonth() + 1) + "-" + date1.getDate();

        var endDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate());

        $("#StartTime").val(startDate);
        $("#EndTime").val(endDate);
    });
    function search() {
        var data = {};
        var url;
        if ($("#reportType").val() == "[dbo].[BLMS_RegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_DealerRegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_RegisterCarOwnerTypeReport]") {
            data = {
                tableName: $("#reportType").val(),
                startTime: $("#StartTime").val(),
                endTime: $("#EndTime").val(),
            };
            url = "@Url.Action("PartialPage")";
        }
        else if ($("#reportType").val() == "[dbo].[BLMS_TestDriveReport]") {
            data = {
                tableName: $("#reportType").val()
            };
            url = "@Url.Action("PartialPageForActivity1")";
        }
        else {
            var activityId = $("#selectActivityId").val();
            if (activityId == null || activityId == "") {
                alert("活动编号不能为空");
                return false;
            }
            data = {
                tableName: $("#reportType").val(),
                activityId: $("#selectActivityId").val(),
            };
            url = "@Url.Action("PartialPageForActivity")";
        }
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (msg) {
                //alert(msg);
                $('#divPageList').html(msg);
            }
        });
    }

    function toReportExcel() {
        if ($("#reportType").val() == "[dbo].[BLMS_RegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_DealerRegisterReport]" || $("#reportType").val() == "[dbo].[BLMS_RegisterCarOwnerTypeReport]") {
            var _t = $("#reportType").val();
            var _sTime = $("#StartTime").val();
            var _eTime = $("#EndTime").val();
            window.location = '/Report/Export?tableName=' + _t + '&startTime=' + _sTime + "&endTime=" + _eTime;
        }
        else if ($("#reportType").val() == "[dbo].[BLMS_TestDriveReport]") {
            var _t = $("#reportType").val();
            window.location = '/Report/ExportByActivityReport?tableName=' + _t;
        }
        else {
            var _t = $("#reportType").val();
            var _activityId = $("#selectActivityId").val();
            window.location = '/Report/ExportByActivityId?tableName=' + _t + '&activityId=' + _activityId;
        }
        return false;
    }

</script>
