@model List<Vcyber.BLMS.Entity.QuestionnaireVisitor>
<head>
    <script>
        try{
            top.location.hostname;
            if (top.location.hostname != window.location.hostname) {
            top.location.href =window.location.href;
            }
            }
                catch(e){
                top.location.href = window.location.href;
            }
    </script>
</head>
<style>
    body {
        display: none;
    }
</style>

<script>

    $(function () {
        if (self == top) {
            var theBody = document.getElementsByTagName('body')[0];
            theBody.style.display = "block";
        } else {
            top.location = self.location;
        }
    });


</script>
<div class="data-container" style="padding-top:30px">
    <table class="table table-bordered">
        <thead>
            <tr class="l1">
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>电话</th>
                <th>省</th>
                <th>市</th>
                <th>县区</th>
                <th>邮寄地址</th>
                <th>年龄</th>
                <th>学历</th>
                <th>车型</th>
                <th>问卷答案提交时间</th>
            </tr>
        </thead>
        @{int count = 0;}
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@{int value = ++count;}@value</td>
                    <td>@item.VName</td>
                    <td>@{string sexStr = item.Sex == 0 ? "男" : "女";}@sexStr</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Provency</td>
                    <td>@item.City</td>
                    <td>@item.Area</td>
                    <td>@item.MailAddress</td>
                    <td>@item.Age</td>
                    <td>@item.Education</td>
                    <td>@item.CarModels</td>
                    <td>@item.CreateTime</td>
                </tr> 
            }
        </tbody>
    </table>
</div>
<div class="box_a2">
    <div class="pagbox">
        <span>共@{@ViewBag.Total}条</span>
        <a href="javascript:void(0);" onclick="GetPageList(1)">首页</a>
        <a href="javascript:void(0);" onclick="ShowPages('Pre')"><<</a>
        <a href="javascript:void(0);" onclick="GetPageList(@ViewBag.PrePage)">上一页</a>
        @{
            int PageIndex = (int)ViewBag.PageIndex;
            int PageCurrentGroup = (int)(PageIndex / 10);
        }
        <a href="javascript:void(0);" onclick="GetPageList(@ViewBag.NextPage, 10)">下一页</a>
        <a href="javascript:void(0);" onclick="ShowPages('Next')">>></a>
        <a href="javascript:void(0);" onclick="GetPageList(@ViewBag.EndPage, 10)">尾页</a>
    </div>
</div>
<input type="hidden" autocomplete="off" id="hidCurrentPage" value="@ViewBag.PageIndex" />
<input type="hidden" autocomplete="off" id="hidEndPage" value="@ViewBag.EndPage" />
<input type="hidden" autocomplete="off" id="hidCurrentGroup" value="@PageCurrentGroup" />