
@{
    ViewBag.Title = "车型信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="wrapper" id="wrapper">
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Celesta", seriesName = "全新悦动" })">
            <div class="col">
                <img src="~/img/car/Celesta/8.png" />
            </div>
            <div class="col-tit">全新悦动</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Yuena", seriesName = "悦纳" })">
            <div class="col">
                <img src="~/img/car/Yuena/7.png" />
            </div>
            <div class="col-tit">悦纳</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "SonataNinePHEV", seriesName = "第九代索纳塔 混合动力" })">
            <div class="col">
                <img src="~/img/car/img/l_1.png" />
            </div>
            <div class="col-tit">第九代索纳塔 混合动力</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "NewElantra", seriesName = "新朗动" })  ">
            <div class="col">
                <img src="~/img/car/img/l_1(1).png" />
            </div>
            <div class="col-tit">新朗动</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "lingdong", seriesName = "领动" })">
            <div class="col">
                <img src="~/img/car/img/test_img_lingdong.jpg" />
            </div>
            <div class="col-tit">领动</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Sonata9_Characteristic", seriesName = "第九代索纳塔" })">
            <div class="col">
                <img src="~/img/car/img/test_img_04.jpg">
            </div>
            <div class="col-tit">第九代索纳塔</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "IX25_Characteristic", seriesName = "ix25" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_05.jpg">
            </div>
            <div class="col-tit">ix25</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Santafe_Characteristic", seriesName = "全新胜达" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_06.jpg">
            </div>
            <div class="col-tit">全新胜达</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Langdong_Characteristic", seriesName = "朗动" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_langdong.jpg">
            </div>
            <div class="col-tit">朗动</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Mistra", seriesName = "名图" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_07.jpg">
            </div>
            <div class="col-tit">名图</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Verna_Characteristic", seriesName = "瑞纳瑞奕" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_08.jpg">
            </div>
            <div class="col-tit">瑞纳瑞奕</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Ix35_Characteristic", seriesName = "ix35" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_09.jpg">
            </div>
            <div class="col-tit">ix35</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Tucson_Characteristic", seriesName = "途胜" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_tusheng.jpg">
            </div>
            <div class="col-tit">途胜</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Elantrayuedong_Characteristic", seriesName = "悦动" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_yuedong.jpg">
            </div>
            <div class="col-tit">悦动</div>
        </a>
    </div>
    <div class="autoMobile-row">
        <a href="@Url.Action("Car_Feature", "Car", new { carType = "Sonata8_Characteristic", seriesName = "第八代索纳塔" }) ">
            <div class="col">
                <img src="~/img/car/img/test_img_suo8.jpg">
            </div>
            <div class="col-tit">第八代索纳塔</div>
        </a>
    </div>
</div>