@model Dictionary<int, List<Vcyber.BLMS.Entity.Questionnaire>>
@{
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ViewBag.Title = "问卷列表";
}
<script>
    function addBlueBean() {
        $.ajax({
            url: "/News/AddBlueMember",
            type: "get"
        });
    }
</script>
<style type="text/css">
    .xiazai-disabled {
        display: block;
        background: #cbcbcb;
        width: 110px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
    }
</style>
<div>
    <div class="header">
        @Html.Action("HomeHeader", "Header", new { pageName = "Car" })
    </div>
    <div class="n_all_cont" style="height:1200px;">
        <div class="n_left_cont">
            <div class="center logon" style=" width: 286px; height: auto; margin-top:0;">
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        @Html.Action("HomeLogonSuccess", "Account")
                    }
                    else
                    {
                        @Html.Action("HomeLogon", "Account")
                    }
                }
            </div>
            <div class="homereserve">
                @Html.Action("ReserveRegion", "Home")
            </div>
            <div class="homeShortcut">
                @Html.Action("ShortcutRegion", "Home")
            </div>
            <div class="homeproduct">
                @Html.Action("HotExchangeProductList", "Product")
            </div>
            @*<div class="homehotnews">
                    @Html.Action("HotNewsRegion", "home")
                </div>*@
            <div class="homehotnews">
                @Html.Action("HotManual", "News")
            </div>

        </div>
        <div class="n_right_cont">
            <p class="select_menu"><a href="/Home/Default">首页&gt;</a><a href="javascript:void(0);">问卷调查 </a></p>
            @{
                if (Model != null && Model.Any())
                {
                    int _wenjuanIndex = 0;

                    foreach (var key in Model.OrderByDescending(m => m.Key).ToDictionary(o => o.Key, v => v.Value).Keys)
                    {
                        <div class="gy_title">
                            <div class="gy_zi">
                                <h2>@key</h2>
                            </div>
                        </div>

                        int _index = 0;
                        foreach (Vcyber.BLMS.Entity.Questionnaire item in Model[key])
                        {
                            _wenjuanIndex++;
                            List<Vcyber.BLMS.Entity.Questionnaire> _t = Model[key] as List<Vcyber.BLMS.Entity.Questionnaire>;
                            <div class="download_2">
                                <dl @{if (_index % 2 == 1) { <text> class="have_b_r " </text>                                                }} style="margin-right:0; width:100%;">
                                    <dt>
                                        <a @if (item.State == 2) { 
                                               <text> href="/Questionnaire/Index" </text>              
                                        } 
                                        else { 
                                               <text> href="/Questionnaire/Result?qid=@item.Id" </text>            
                                        }>
                                        @{
                            string imgPath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImgPath"];
                            <img src="@string.Format(imgPath + "{0}", item.SyImage)" />
                                            }
                                        </a>
                                    </dt>
                                    <dd style="max-width:500px;">
                                        <div class="dd_1">问卷调查</div>
                                        <div class="subst">
                                            <p id="dahao">@string.Format("第{0}期", item.PeriodicalCount)</p>
                                            <a style="margin-bottom:5px;">本期主题</a>
                                            <p style=" height: 50px; margin-bottom: 5px; line-height: 16px; word-wrap: break-word; word-break: normal; overflow:hidden;">
                                                @item.LbRemarks
                                            </p>
                                        </div>
                                        <a style="height: 25px; margin-top: 5px; line-height: 25px; width: 70px;"
                                           @if (item.State == 3) { 
                                               <text> class="xiazai" href="/Questionnaire/Result?qid=@item.Id" </text>            
                                           } 
                                           else { 
                                               <text> class="xiazai-disabled" </text>              
                                           }>
                                            <span style="line-height:25px;">获奖名单</span>
                                        </a>
                                        <a style="height: 25px; margin-top: 5px; line-height: 25px; width: 70px;"
                                           @if (item.State == 2) {
                                               <text> class="xiazai" href="/Questionnaire/Index" </text>              
                                           } 
                                           else { 
                                               <text> class="xiazai-disabled" </text>                
                                           }>
                                            <span style="line-height:25px;">调查问卷</span>
                                        </a>

                                    </dd>
                                </dl>
                            </div>
                        }

                        _index++;
                    }
                }
            }
        </div>
    </div>

    <div class="footer">
        @Html.Action("Index", "Footer")
    </div>
</div>